article{
	width: 100%;
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.line{
	width: 22%;
	height: 230px;
	background: #f8f1f1;
	margin: 20px 0;
	border-radius: 5px;
}

article .shimmer{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;

	animation: shimmer 2s infinite linear;
}

@keyframes shimmer{
	from {
		transform: translateX(-200%);
	}
	to{
		transform: translateX(200%);
	}
}
